.people {
  grid-template-columns: repeat(auto-fit, minmax(32rem, 1fr));
  margin-block-end: 9.6rem;
}

.people > * {
  grid-column: unset;
}

.person {
  border-radius: 1.6rem;
  color: inherit;
  display: flex;
  flex-direction: column;
  padding: 1.6rem;
  position: relative;
  text-decoration: none;
  transition: border 0.2s;
}

.person figure {
  display: flex;
  gap: 1.6rem;
  margin: 0;
}

.person figcaption {
  display: flex;
  flex-direction: column;
  gap: 0.4rem;
  justify-content: center;
}

.person .tagline {
  font-size: 1.6rem;
  text-wrap: balance;
}

.person .media {
  align-self: center;
  aspect-ratio: 1;
  background: light-dark(var(--neutral-200), var(--neutral-800));
  border-radius: 0.4rem;
  display: block;
  flex-shrink: 0;
  max-width: 100%;
  object-fit: cover;
  object-position: center top;
  opacity: 0.5;
  text-align: center;
  width: 12rem;
}

.person .media[src] {
  opacity: 1;
}

.person[data-former="true"] strong::after {
  background: light-dark(var(--neutral-200), var(--neutral-800));
  border-radius: 0.4rem;
  content: " Former";
  display: inline-block;
  font-size: 1.4rem;
  font-weight: normal;
  line-height: 1.5;
  margin-inline: 0.5em;
  padding-block-start: 0.125em;
  padding-inline: 0.5em;

  /* border: 1px solid currentColor; */
  /* opacity: 0.5; */
}

.person[data-role="contributor"] .icon {
  opacity: 0;
  position: absolute;
  right: 1.6rem;
  top: 1.6rem;
  transition: opacity 0.2s;
}

a.person[data-role="contributor"]:focus-visible .icon {
  opacity: 1;
}

@media (hover: hover) {
  .person:is(a,button,[role=button]) {
    border: 1px solid transparent;
    cursor: pointer;
  }

  .person:is(a,button,[role=button]):hover {
    border: 1px solid light-dark(var(--neutral-900), var(--neutral-100));
  }

  .person[data-role="contributor"]:is(a,button,[role=button]):hover .icon {
    opacity: 1;
  }
}
